/* nav button gular style */
footer  h3 {
    
    text-align: center;
}

.link-button3{
    color: #363958;
    text-decoration: none;
    
}

.logodesign {
    height:200px;
    width:45%;
    margin-left: 315px;
}


.logo {
    float: left;
    padding-left: 30px;
}